<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    
	<!--cn.ucaner.analyze.aop.bean  -->
		
	<!-- 启用注解支持 -->
	<context:annotation-config />
	
	<!-- 自动扫描web包 ,将带有注解的类 纳入spring容器管理 -->  
    <context:component-scan base-package="cn.ucaner.analyze.aop"></context:component-scan>  
	
	 <!-- 使用annotation 自动注册bean,并检查@Required,@Autowired的属性已被注入 -->
  <!--   <context:component-scan base-package="cn.ucaner">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice" />
    </context:component-scan> -->
   <!--  <context:component-scan base-package="cn.ucaner.analyze.data.jdbc.dao"/> -->

    <!--<import resource="dao/spring-jdbc-dao.xml"/>-->
    <!--<import resource="mapper/spring-c3p0-mapper.xml"/>-->
    
    <!-- <import resource="dao/spring-proxy-dao.xml"/> -->
    <import resource="spring-aop.xml"/>

</beans>