<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    
	<context:annotation-config/>
	
	<context:component-scan base-package="cn.ucaner.aop.service.impl" />  
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
	
	<!-- 配置名为person的bean，其实现类是cn.ucaner.aop.service.Person 懒cn.ucaner.aop.service.impl.America惰式加载-->
	<bean id="chinese" class="cn.ucaner.aop.service.impl.Chinese" lazy-init="true" >
		<!-- 控制调用setAxe（）方法，将容器中的axe Bean作为传入参数 -->
		<property name="axe" ref="steelaxe"/>
		<!-- 调用setTest方法 -->
		<property name="test" value="孙悟空"/>
	</bean>
	
	<bean id="america" class="cn.ucaner.aop.service.impl.America" scope="prototype">
		<!-- 构造注入 -->
		<!-- 使用了注解<constructor-arg ref="steelaxe"/> -->
		<constructor-arg ref="steelaxe"/>
	</bean>
	
	<bean id="japan" class="cn.ucaner.aop.service.impl.Japan">
		<!-- Spring只要检测到lookup-method元素，自动为name属性指定的方法提供实现体 -->
		<lookup-method name="getSteelAxe" bean="steelaxe"/>
	</bean>
	
	<bean id="stoneaxe" class="cn.ucaner.aop.service.impl.StoneAxe"/>
	<bean id="steelaxe" class="cn.ucaner.aop.service.impl.SteelAxe" scope="prototype"/>
	
	<!-- 配置国际化 -->
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<!-- 驱动spring调用messageSource bean的setBasenames方法，该方法需要一个数组参数，使用list元素配置多个数组 -->
		<property name="basenames">
			<list>
				<value>message</value>
			</list>
		</property>
	</bean>	
	
	
	<!-- 配置监听器 -->
	<bean class="cn.ucaner.aop.listener.EmailNotifier"/>
	<bean id="awaretest" class="cn.ucaner.aop.service.ApplicationContextAwareTest"/>
	<bean id="date" class="java.util.Date"/>
	<bean id="init" class="cn.ucaner.aop.service.Left"/>
	
	<!-- 指定bean实例的getter方法返回值定义成一个新的bean -->
	<bean id="field" class="org.springframework.beans.factory.config.PropertyPathFactoryBean">
		<!-- 指定目标bean -->
		<property name="targetBeanName" value="steelaxe"/>
		<!-- 指定getter方法 -->
		<property name="propertyPath" value="name"/>
	</bean>
	
</beans>		
